html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em,  ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    font-size : 100%;
    vertical-align : baseline;
    background : transparent;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #333;
}
.backgoround{
  background-image: url(./images/top/mv.jpg);
  background-image: url(./images/top/);
}
.logo {
    width: 270px;
    height: 80.703px;
    position: fixed;
    /* z-index: 2; */
    padding: 8px 0px 7px 20.547px;
}
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    width: 270px;
    height: 80.703px;
    position: absolute;
    position: fixed;
}
img {
  max-width: 100%;
}
img,video{
  vertical-align: bottom;
}
.img {
  position: absolute;
  z-index: 1;
}
.headernav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
}
.open_nav{
    background: url(./images/common/open.png)
    no-repeat center center #273650;
    background-size: 24px;
}
.headernav div {
    float: left;
    width: 50px;
    height: 51px;
}
.div {
  display: block;
}
.top-catch {
  max-width: 800px;
  vertical-align: center;
  position: absolute;
  top: 33%;
  left: 25%;
  /* margin: 0 auto;
  text-align: center;
  position: relative; */
}
#left-nav.view {
  transform: translate(0);
}
#left-nav {
  font-family: "PT Sans", sans-serif;
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  display: table;
  transition: 0.6s;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.menuLst {
  display:table-cell;
  vertical-align: middle;
}
nav ul {
  list-style: none;
}
li {
  list-style: none;
}
.contact {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #273650;
  width: 60px;
  height: 300px;
}
body {
  font-size: 14px;
  color: #444444;
  line-height: 1.4;

}
.transparent {
  background-color: transparent;
}
section {
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  display: block;
}
.about-back-line.show{
  opacity: 1;
}
.about-back-line {
  width: 50%;
  height: 100%;
  float: right;
  opacity: 0;
  transition: opacity 4s linear 1000ms;
}
.about-back-line .background-table {
  height: 100%;
  background-image:linear-gradient(transparent 99%,rgba (255,255,255,0.4)1%),
  linear-gradient(90deg,transparent 99%,rgba(255,255,255,0.4)1%) ;
  background-size: 100px 100px;
  background-repeat: repeat;
}
section .content-box {
  height: 100%;
  padding:72px;
  box-sizing: border-box;
}
.about {
  width: 50%;
  padding-right: 0;
  background-color: #fff;
}
.about .inner {
  background-color: #eef8f6;
  padding-left: 11%;
  position: relative;
}
.inner{
  box-sizing: border-box;
  height: 100%;
}
.about .inner .ttl {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.about .inner .ttl img {
  max-width: 661px;
  display: flex;
}
.subtitle-1 {
  /* transform: translate3d(0,0,0);
  transform: 500ms ease-out 0ms;
  opacity: 1; */
}
.about .subtitle-1 {
  /* transform: translate3d(-500px, 0, 0);
    opacity: 0; */
}
.about .inner .ttl img {
  max-width: 661px;
}
.subtitle-2 {
  /* transform: translate3d(0,0,0);
  transform: 500ms ease-out 0ms;
  opacity: 1; */
}
.about .subtitle-2 {
  /* transform: translate3d(-500px, 0, 0);
    opacity: 0; */
}